.apodExplanation {
    padding: 0 20px;
    text-align: justify;
    flex-grow: 1;
    flex-shrink: 2;
}

.wrapperApodImg {
    flex-grow: 1;
    vertical-align: center;
}

.wrapperApodImg img {
    width: 100%;
}

.imgTitle {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}
